*-all
*-co
*-dirs
*-done
*-info
*-install-info
*-src
*-stamp-*
*-tagged
blockit
cfg-paper.info
config.status
configure.aux
configure.cp
configure.cps
configure.dvi
configure.fn
configure.fns
configure.ky
configure.kys
configure.log
configure.pg
configure.pgs
configure.toc
configure.tp
configure.tps
configure.vr
configure.vrs
dir.info
Makefile

*.o
config.log

gcc/cp/include
gcc/cp/stage1
gcc/cp/stage2
gcc/cp/stage3
gcc/cp/stage4

gcc/f/include
gcc/f/stage1
gcc/f/stage2
gcc/f/stage3
gcc/f/stage4

gcc/objc/include
gcc/objc/stage1
gcc/objc/stage2
gcc/objc/stage3
gcc/objc/stage4

libiberty/config.h
libiberty/stamp-h
libiberty/xhost-mkfrag

texinfo/intl/libintl.h
texinfo/intl/po2tbl.sed
texinfo/po/Makefile.in
texinfo/po/POTFILES
texinfo/config.h
texinfo/stamp-h

config.cache
mt-frag


gcc/Make-hooks
gcc/Make-host
gcc/Make-lang
gcc/Make-target
gcc/SYSCALLS.c
gcc/auto-host.h
gcc/cc1
gcc/cc1plus
gcc/cccp
gcc/config.h
gcc/cpp
gcc/cstamp-h
gcc/g++
gcc/g++.c
gcc/genattr
gcc/genattrtab
gcc/gencheck
gcc/gencodes
gcc/genconfig
gcc/genemit
gcc/genextract
gcc/genflags
gcc/gengenrtl
gcc/genopinit
gcc/genoutput
gcc/genpeep
gcc/genrecog
gcc/genrtl.c
gcc/genrtl.h
gcc/gfloat.h
gcc/hconfig.h
gcc/include/
gcc/insn-attr.h
gcc/insn-attrtab.c
gcc/insn-codes.h
gcc/insn-config.h
gcc/insn-emit.c
gcc/insn-extract.c
gcc/insn-flags.h
gcc/insn-opinit.c
gcc/insn-output.c
gcc/insn-peep.c
gcc/insn-recog.c
gcc/multilib.h
gcc/options.h
gcc/protoize
gcc/s-attr
gcc/s-attrtab
gcc/s-check
gcc/s-codes
gcc/s-config
gcc/s-emit
gcc/s-extract
gcc/s-flags
gcc/s-genrtl
gcc/s-mlib
gcc/s-opinit
gcc/s-output
gcc/s-peep
gcc/s-recog
gcc/specs.h
gcc/stamp-objlist
gcc/stmp-fixinc
gcc/stmp-int-hdrs
gcc/tconfig.h
gcc/tm.h
gcc/tree-check.h
gcc/unprotoize
gcc/xgcc
gcc/xlimits.h
